<?xml version='1.0'?>
<launch>

   <!-- values passed by command line input -->
   <arg name="model" value="$(find eva_security_description)/urdf/eva_security.urdf"/>
   <arg name="gui" default="true" />

   <!-- set these parameters on Parameter Server -->
   <param name="robot_description"
      textfile="$(find eva_security_description)/urdf/eva_security.urdf" /> 
   <param name="use_gui" value="$(arg gui)" />

   <!-- Start only rviz -->
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find eva_security_simulation)/rviz/urdf.rviz" required="true"/> 

</launch>
